<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h2 style="text-align: center"> Update Employee <%=emp[0].eid%></h2>
  <form action="/emp/vemp" method="POST">
    
    ID <input type="text" name="update_i" value="<%=emp[0].eid%>" readonly>
    <br>
    Name <input type="text" name="update_n" value="<%=emp[0].Name%>">
        <br>
        Salary <input type="text" name="update_s" value="<%=emp[0].Salary%>">
        <br>
        <button type="submit">Update</button>
  </form>
</body>
</html>