<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    View Employees
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i in emp){%>
            <tr>
                <td><%=emp[i].eid%></td>
                <td><%=emp[i].Name%></td>
                <td><%=emp[i].Salary%></td>
                <td><a href="/emp/update/<%=emp[i].eid%>">Edit</a></td>
                <td><a href="">Delete</a></td>
            </tr><%}%>
        </tbody>
    </table>
</body>
</html>